<h1>user login</h1>
<p>This is a new session page</p>


<%= form_for @user, {url: session_path} do |f| %>
	<%= f.text_field :email, placeholder: "Email" %><br />
	<%= f.password_field :password, placeholder: "password" %><br />
	<%= f.submit "login" %>

		</br>
<div class="col-md-4">
	<% flash.each do |key, value| %>
		<div class="alert alert-danger"><%= value %></div>

	<% end %>

</div>
<%end%>

