<div class="container text-center">

<div class="marginme">


<%= form_for @user, {url: session_path} do |f| %>


<form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2><br />
        <%= f.text_field :email, :class => "form-control", placeholder: "Email" %><br />
        <%= f.password_field :password, :class => "form-control", placeholder: "password" %>
        	<br />

        <%= f.submit "login", :class => "btn btn-lg btn-primary btn-block" %>
      </form>

	
	

		</br>
<div class="col-md-4">
	<% flash.each do |key, value| %>
		<div class="alert alert-danger"><%= value %></div>

	<% end %>

</div>
<%end%>


</div>

</div>