
<div class="container text-center">


<% if @user.errors.any? %>

	<% @user.errors.full_messages.each do |value| %>	
		<div class="alert alert-danger" role="alert">
			<%= value %>
		</div>
	<% end %>
<% end %>	

<div class="myform">
	<%= form_for @user do |f| %>

		<form class="form-signin" role="form">

	        <h2 class="form-signin-heading">Create a new user</h2>
	        <br />
	        <%= f.text_field :email, :class => "form-control", placeholder: "your email address.. " %>
	        <br />
	        <%= f.password_field :password, :class => "form-control", placeholder: "password" %>
	        	<br />

	      	<%= f.password_field :password, :class => "form-control", placeholder: "password ..." %>
	      	<br />
		
			<%= f.password_field :password_confirmation, :class => "form-control", placeholder: "... and again" %>
			
			<br />
			<%= f.submit :class => "btn black btn-lg btn-primary btn-block" %>

			</form>

	<% end %>

</div>


	
	

</div>