<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <ul class="nav nav-pills">
  <li class="active"><a href="<%#= link_to "Log out", session_path, method: :delete %>">logout</a></li>

</ul> -->


<div style="float:right">
<form align="right" name="form1" method="delete" action="new_sessions_path">
  <label class="logoutLblPos">
  <!-- <input name="submit2" type="submit" id="submit2" value="log out"> -->
  </label>
</form>
</div>


<%= render 'partials/nav' %>
<%= yield %>

</body>
</html>
